<h1>Editing movie_event</h1>

<% form_for(@movie_event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :movie_id %><br />
    <%= f.text_field :movie_id %>
  </p>
  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @movie_event %> |
<%= link_to 'Back', movie_events_path %>