<div id="movieViewer">
  <% if movies.length > 0 %>
    <table>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Vote Ratio</th>
        <th>Seen it</th>
        <th>Want to see it</th>
        <th>Num Votes</th>
      </tr>
      <% movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie %></td>
          <td><%=h movie.genre.name %></td>
          <td><%=h movie.vote_ratio %></td>
          <td><%=h movie.num_seen %></td>
          <td><%=h movie.num_want_to_see %></td>
          <td><%=h movie.votes.length %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No Movies
  <% end %>
</div>
