<div id="voteViewer">
  <% unless movie.voters.include? current_user %>
    You haven't voted on this movie and you really should.
  <% end %>
  <table>
    <tr>
      <th>Name</th>
      <th>Vote</th>
      <th>Seen it?</th>
    </tr>
    <% if movie.voters.include? current_user
      current_vote = Vote.find(:first,
                               :conditions =>
                               ['movie_id = ? AND user_id = ?',
                                movie.id,
                                current_user.id]) %>
      <tr id="current_vote_row">
        <td><%=h current_vote.user.name %></td>
        <td><%=h current_vote.val %></td>
        <td><%=h current_vote.seen %></td>
      </tr>
    <% end %>
    <% movie.votes.each do |vote|
      unless vote.user == current_user %>
        <tr>
          <td><%=h vote.user.name %></td>
          <td><%=h vote.val %></td>
          <td><%=h vote.seen %></td>
        </tr>
      <% end
     end %>
</div>

