<% if vote %>
  <td><%=h vote.user.name %></td>
  <td>
    <%= image_tag (vote.val == 1 ? "plus_enabled.png" : "plus_disabled.png"),
                   :size => "25x25",
                   :class => "up_vote" %>
  </td>
  <td>
    <%= image_tag (vote.val == 0 ? "minus_enabled.png" : "minus_disabled.png"),
                   :size => "25x25",
                   :class => "down_vote" %>
  </td>
  <td>
    <%= image_tag((vote.seen ? "seen_enabled.png" : "seen_disabled.png"),
                  :size => "25x25",
                  :class => "seen_vote") %>
  </td>
  <td>
    <%= image_tag((vote.want_to_see ? "want_to_enabled.png" :
                                      "want_to_disabled.png"),
                  :size => "25x25",
                  :class => "want_to_see_vote") %>
  </td>
<% else %>
  <td><%=h current_user.name %></td>
  <td><%= image_tag "plus_disabled.png",
                    :size => "25x25",
                    :class => "up_vote"  %></td>
  <td><%= image_tag "minus_disabled.png",
                    :size => "25x25",
                    :class => "down_vote"  %></td>
  <td><%= image_tag "seen_disabled.png",
                    :size => "25x25",
                    :class => "seen_vote"  %></td>
  <td><%= image_tag "want_to_disabled.png",
                    :size => "25x25",
                    :class => "want_to_see_vote" %></td>
<% end %>
