<p>
  <b>Val:</b>
  <%=h @vote.val %>
</p>

<p>
  <b>Seen:</b>
  <%=h @vote.seen %>
</p>

<p>
  <b>User:</b>
  <%=h @vote.user_id %>
</p>

<p>
  <b>Movie:</b>
  <%=h @vote.movie_id %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>