<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script src="/javascripts/jquery-1.4.4.min.js"></script>

    <title>MovieMind</title>
    <%= stylesheet_link_tag 'scaffold' %>
  </head>

  <body>
    <div id="header">
      <%= render :partial => "layouts/search" %>
      <%= render :partial => "layouts/page_links" %>
      <%= render :partial => "layouts/login_buttons" %>
    </div>

    <p style="color: green"><%= notice %></p>

    <%= yield %>
  </body>
</html>
